@{
    ViewBag.Title = "LienHe";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Liên Hệ với chúng tôi:</h2>
<img src="~/Images/logoGmail.png" style="width:30%" />
<h4>bemeo263@gmail.com</h4>
<h5>Phạm Doãn Nguyên Tùng</h5>
<h5>MSSV: 2001181406</h5>
<h4>bckhang226@gmail.com</h4>
<h5>Phan Quốc Khang</h5>
<h5>MSSV: 2001180778</h5>

