@{
    Layout = null;
}
@using doAnWeb.Models;
@model List<NhaXuatBan>
         <ul class="list-group list-group-flush text-left">
            <li class="list-group-item" style="background-color:darkred;"><a href="#" style="text-transform:none; color:white; font-weight:bold">Danh Sách Nhà Sản Xuất</a></li>
            @{
                foreach(var item in Model){
                 <li class="list-group-item" style="background-color:sandybrown">
                     <a href="@Url.Action("SachTheoNXB", "NhaXuatBan", new { @maNXB=item.MaNXB})" style="text-transform:uppercase; text-decoration:none;">@item.TenNXB</a>
                 </li>   
                }
                <li class="list-group-item" style="background-color:grey"><a href="#" style="text-transform:uppercase; text-decoration:none;"> </a></li>
            }
        </ul>
